@import "src/app/common";
.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  &__brand{
    &__text {
      text-decoration: none;
      color: $colour-red;
      font-size: 3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__list__item {
    margin-left: 1.25rem;

    &:first-child {
      margin-left: 0;
    }
    &--active {
      text-decoration: underline;
    }
  }
  &__list__item__text{
    text-decoration: none;
    color: $colour-orange;
    font-size: 2rem;
  }

}
