<nav class="nav">
  <h1 class="nav__brand"><a class="nav__brand__text">Recipes</a></h1>
  <ul class="nav__list">
    <li class="nav__list__item"><a class="nav__list__item__text" href="logout">Recipe Book</a></li>
    <li class="nav__list__item"><a class="nav__list__item__text" href="logout">Shopping List</a></li>
    <li class="nav__list__item"><a class="nav__list__item__text" href="login">Login</a></li>
    <li class="nav__list__item"><a class="nav__list__item__text" href="register">Register</a></li>
    <li class="nav__list__item"><a class="nav__list__item__text" href="logout">Logout</a></li>
  </ul>
</nav>
