<section class="recipe-book">
  <section class="recipe-book__container__btn">
    <button class="recipe-book__recipe__btn">Add New Recipe</button>
  </section>
  <section class="recipe-book__container__recipe-list">
    <section class="recipe-book__recipe-list">
      <div *ngFor="let recipe of recipes">
        <app-recipecard [recipeData]="recipe"></app-recipecard>
      </div>
    </section>
    <section *ngIf="selectedRecipe.title !== ''; else noSelectedRecipe" class="recipe-book__recipe-detail">
      <app-recipedetails></app-recipedetails>
    </section>
    <ng-template #noSelectedRecipe>
      <p class="recipe-book__no-recipe">Please select a recipe to view more details about your selection.</p>
    </ng-template>
  </section>
</section>
