<section class="recipe-details">
  <div class="recipe-details__container__back-btn">
    <button class="recipe-details__btn" (click)="onBackClick()">&#8592; Back to list</button>
  </div>
  <div class="recipe-details__container__image">
    <img class="recipe-details__image" src="{{recipeDetail.image}}">
  </div>
  <div class="recipe-details__container__content">
    <h1 class="recipe-details__title">{{recipeDetail.title}}</h1>
    <p class="recipe-details__description">
      {{recipeDetail.description}}
    </p>
  </div>
  <div class="recipe-details__container__btn">
    <button class="recipe-details__btn">
      Manage
    </button>
  </div>
</section>
